In [270]:
import pandas as pd
import glob
import os
import numpy as np

In [115]:
data_folder = "data/"
data_files = glob.glob(os.path.join(data_folder, "*.csv"))

In [116]:
data_files;

In [117]:
df = pd.concat((pd.read_csv(f) for f in data_files))

In [120]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20766011 entries, 0 to 196742
Data columns (total 11 columns):
C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                 int64
EXITS                                                                   int64
dtypes: int64(2), object(9)
memory usage: 11.6 GB

In [175]:
df_1000 = df.head(1000)
df_1000;

In [310]:
data = pd.read_pickle('2018_mta_data_diffs')

In [311]:
df = data.reset_index()

In [312]:
df.head()

,STATION,DATE,TIME,Unnamed: 0,ENTRIES,EXITS,ENTRIES_DIFF,EXITS_DIFF
0,1 AV,01/01/2018,03:00:00,307615,3042947337,1.642545e+09,1838,2433
1,1 AV,01/01/2018,07:00:00,307625,3042947783,1.642546e+09,446,751
2,1 AV,01/01/2018,11:00:00,307635,3042948650,1.642547e+09,867,1094
3,1 AV,01/01/2018,15:00:00,307645,3042951071,1.642549e+09,2421,2327
4,1 AV,01/01/2018,19:00:00,307655,3042953851,1.642553e+09,2780,3459

In [313]:
#df.drop('EXITS',axis=1,inplace=True)
#df.drop('Unnamed: 0',axis=1,inplace=True)

df.rename(columns={'EXITS                                                               ': 'EXITS'},inplace=True)
df.columns

df['DATE_TIME'] = df['DATE'] + ' ' + df['TIME']

df[['ENTRIES','EXITS']] = df[['ENTRIES','EXITS']].diff()

df = df.groupby(['STATION','DATE','TIME']).sum()

df.reset_index(inplace=True)

df = df[(df['ENTRIES_DIFF']>100000) | (df['ENTRIES_DIFF']<0)]

In [314]:
from datetime import datetime

In [315]:
df.head()

,STATION,DATE,TIME,Unnamed: 0,ENTRIES,EXITS,ENTRIES_DIFF,EXITS_DIFF
55,1 AV,01/06/2018,03:00:00,2314456,1577.0,1206.0,3011619110,1610694962
100,1 AV,01/13/2018,03:00:00,3888646,2313.0,1372.0,3007279971,1597297039
101,1 AV,01/13/2018,07:00:00,4320847,395.0,1656.0,-4129881,-6952844
145,1 AV,01/20/2018,03:00:00,6315770,2231.0,1522.0,3003232386,1590443846
192,1 AV,01/27/2018,03:00:00,8325304,2151.0,1634.0,3003320612,1590543164

In [319]:
df['DATE'] = df['DATE'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

In [330]:
df['WeekDay'] = df['DATE'].apply(lambda x: x.weekday())

In [343]:
df.head()

,STATION,DATE,TIME,Unnamed: 0,ENTRIES,EXITS,ENTRIES_DIFF,EXITS_DIFF,WeekDay
55,1 AV,2018-01-06,03:00:00,2314456,1577.0,1206.0,3011619110,1610694962,5
100,1 AV,2018-01-13,03:00:00,3888646,2313.0,1372.0,3007279971,1597297039,5
101,1 AV,2018-01-13,07:00:00,4320847,395.0,1656.0,-4129881,-6952844,5
145,1 AV,2018-01-20,03:00:00,6315770,2231.0,1522.0,3003232386,1590443846,5
192,1 AV,2018-01-27,03:00:00,8325304,2151.0,1634.0,3003320612,1590543164,5

In [346]:
len(df)

37235

In [345]:
len(df[df['EXITS'] < 0])

10112

In [341]:
df.groupby('WeekDay')['ENTRIES'].median()

WeekDay
0    -70.5
1    -70.5
2   -109.0
3    -84.0
4    -73.0
5    411.0
6     -5.0
Name: ENTRIES, dtype: float64

In [336]:
df.groupby('WeekDay')['ENTRIES'].sum().plot()

In [269]:
#df[['ENTRIES','EXITS']] = df[['ENTRIES','EXITS']].diff();

In [257]:

df = data
df.drop('EXITS',axis=1,inplace=True)
df.drop('Unnamed: 0',axis=1,inplace=True)

df.rename(columns={'EXITS': 'EXITS'},inplace=True)
df.columns

df['DATE_TIME'] = df['DATE'] + ' ' + df['TIME']

df[['ENTRIES','EXITS']] = df[['ENTRIES','EXITS']].diff()

df = df.groupby(['STATION','DATE','TIME','LINENAME']).sum()

df.reset_index(inplace=True)

df[(df['ENTRIES_DIFF']>100000) | (df['ENTRIES_DIFF']<0)]

KeyError: "['EXITS'] not found in axis"